.BookCard {
  padding: 10%;
}
/* .BookCard {
  padding: 1%;
  width: min-content;
  height: min-content;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: auto;
  height: 8vh;
  overflow: visible;
  overflow-wrap: break-word;
}
.card-img {
  object-fit: contain;
} */
