body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#SeriesBox {
  display: flex;

  height: 50vh;
  width: 100vw;
}

.BookList {
  display: flex;
  height: 50vh;
  width: 100vw;
}
#series {
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
}

#App {
  height: 100%;
}

.help-item {
  display: flex;
  align-content: center;
  /* padding: 10px; */
}
.help-item:hover {
  background-color: grey;
}
.help-body {
  display: flex;
  margin: 4%;
  flex-wrap: wrap;
}
.help-key {
  color: white;
  /* margin: 2%; */
  background-color: darkgrey;
  /* box-shadow: 10px 5px 5px red; */
  border-color: green;
  padding: 5px;
  align-self: flex-start;
}

.help-section {
  margin: 1%;
}

.help-desc {
  align-items: flex-end;
  padding: 5px;
}
