.SeriesCard {
  height: 10vw;
  width: auto;
  padding: 10%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: auto;
  height: 8vh;
  overflow: hidden;
  overflow-wrap: break-word;
}

.card-img-top {
  padding: 0%;
  width: 100%;
  height: 15vw;
  object-fit: contain;
}
